@import "../../Common/Styles/sass/Variables";

.projectsBlock {
  background-color: $bgMainColor;
  min-height: 50vh;

  .projectsContainer {

    .projects {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      @media screen and (max-width: 1304px) {
        justify-content: center;
      }
    }
  }
}

