.projectsBlock {
  background-color: cornflowerblue;
  min-height: 50vh;

  .projectsContainer {
    flex-direction: column;
    justify-content: flex-start;

    .projects {
      border: 1px solid;
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: start;
      @media screen and (max-width: 1304px) {
        justify-content: center;
      }
    }
  }
}

