.projectsBlock {
    background-color: cornflowerblue;
    min-height: 50vh;
}
.projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
    /*flex-wrap: nowrap;*/
}
.projects {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}