.skillsBlock {
    background-color: darkcyan;
    min-height: 50vh;

}
.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
    /*flex-wrap: nowrap;*/
}

.title {

}
.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}