@import "../../../Common/Styles/sass/Variables";
@import "../../../Common/Styles/sass/Mixins";

.project {
  background-color: $bgSecondColor;
  width: 500px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  border-radius: 20px;

  .imgContainer {
    height: 300px;
    background-size: cover; /*вмещает изображение полностью*/
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 20px 20px 0 0;

    &::before {   /*затемнение всей картинки*/
      position: absolute;
      content: '';
      background-color: black;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0.4;
      border-radius: 20px 20px 0 0;
    }

    a {
      @include text(16px, 700, 1);
      @include button();
    }
  }

  .projectInfo {
    padding: 20px;

    .title {
      @include text(20px, 700, 1.2);
      margin: 0 0 16px;
    }

    .description {
      @include text(16px, 400, 1.7);
      margin: 0;
    }
  }

}


