@import "../../../Common/Styles/sass/Variables";
@import "../../../Common/Styles/sass/Mixins";

.nav {
    display: flex;
    justify-content: space-between;
    a {
        @include text(14px, 400, 1);
        @include button();
        text-decoration: none;
        margin: 0 3px;
    }
}