@import "../../Common/Styles/sass/Variables";
@import "../../Common/Styles/sass/Mixins";

.footer {
  background-color: $bgSecondColor;
  min-height: 150px;

  .footerContainer {
    flex-direction: column;

    h2 {
      @include text(1.5em, 700, 1.3);
    }

    .social {
      width: 250px;
        margin-bottom: 15px;
      .icon {
        margin: 6px;
        font-size: 30px;
      }
    }
      .date {
          color: $textColor;
          margin-bottom: 10px;
      }
  }

}
