@import "../../Common/Styles/sass/Variables";
@import "../../Common/Styles/sass/Mixins";

.contactsBlock {
    background-color: $bgMainColor;
    min-height: 50vh;
    .contactsContainer{
        flex-direction: column;
        .formContainer {
            width: 50%;
            padding-bottom: 30px;
            div {
                display: flex;
                width: 100%;
            }
            .paddingForm {
                padding: 0 15px;
            }
            input, textarea {
                width: 100%;
                padding: 10px 30px;
                margin-bottom: 30px;
                border-radius: 30px;
                border: 0;
                height: 60px;
                @include text(16px, 400, 1.6);
                color: $bgSecondColor;

                    outline: none !important;

            }
            textarea {
                height: 125px;
            }
            button {
                @include button();
                @include text(14px, 400, 1);
                margin-left: 15px;
            }
        }
    }

}

