@import "../../Common/Styles/sass/Variables";

.contactsBlock {
    background-color: $bgMainColor;
    min-height: 50vh;
    .contactsContainer{
        flex-direction: column;
        .formContainer {
            width: 250px;
            padding-bottom: 30px;
            input, textarea {
                width: 100%;
                margin: 3px 0;
            }
            textarea {
                height: 100px;
            }
        }
    }

}

