@import "../../Common/Styles/sass/Variables";
@import "../../Common/Styles/sass/Mixins";

.contactsBlock {
  background-color: $bgMainColor;

  .contactsContainer {
    flex-direction: column;

    .formContainer {
      width: 50%;
      padding-bottom: 30px;
      @media (max-width: 768px), (orientation: portrait) {
        width: 75%;
      }
      .error {
        color: red;
        justify-content: center;
        padding-bottom: 30px;
      }

      div {
        display: flex;
        width: 100%;
      }

      .columnInputs {
        flex-direction: row;
        @media (max-width: 768px), (orientation: portrait) {
          flex-direction: column;
        }
      }

      .paddingForm {
        padding: 0 15px;
      }

      input, textarea {
        width: 100%;
        padding: 10px 30px;
        margin-bottom: 30px;
        border-radius: 30px;
        border: 0;
        height: 60px;
        @include text(16px, 400, 1.6);
        color: $bgSecondColor;
        outline: none !important;
      }

      textarea {
        height: 125px;
      }

      button {
        @include button();
        @include text(14px, 400, 1);
        margin-left: 15px;
      }
    }
  }
}

